<%= "こんにちは！#{current_user.name}さん" %>


<p class="alert"><%= alert %></p>

<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Created user</th>
      <th>Assigned user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= task.status %></td>
        <td><%= task.created_user_id %></td>
        <td><%= task.assigned_user_id %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>


<p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
