<p class="alert"><%= alert %></p>

<h5>タスク一覧</h5>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Created user</th>
      <th>Assigned user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><li class="danger label"><%= task.status %></li>　<%= task.title %></td>
        <td><%= task.due_date %></td>
        <td><%= task.created_user.name %></td>
        <td><%= task.assigned_user.name %></td>
        <td><%= link_to "show", task %></td>
        
        <td><%= link_to "Edit", edit_task_path(task) if policy(task).edit? %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } if policy(task).destroy? %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="medium primary btn pull_right">
  <%= link_to 'New Task', new_task_path %>
</div>
