<h3>ログイン</h3>
<div class="field">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	
		<%= f.label :login %>
		<%= f.text_field :login, :class => "input" %>
	
		<%= f.label :password %>
		<%= f.password_field :password, autocomplete: "off", :class => "input" %>
	
		<% if devise_mapping.rememberable? -%>
				<%= f.check_box :remember_me, :class => "check_box" %>
		<% end -%>
	
		<div class="medium info btn pull_right"><%= f.submit "　Log in　" %></div>
	<% end %>
</div>